[user]
        name = Laurent Lemmens
	email = laurent.lemmens@ugent.be

[github]
	user = lelemmen

[alias]
	s = status 
	a = add .

	m = commit -m  
	ma = commit --amend

	f = fetch
	ps = push 
	pl = pull

	co = checkout 
	cob = checkout -b
	cod = checkout develop
[core]
        editor = vim
	excludesfile = ~/.gitignore_global

