[user]
        name = Laurent Lemmens
	email = laurent.lemmens@ugent.be

[github]
	user = lelemmen

[alias]
	s = status
	a = add .
	m = commit -m 


[core]
        editor = vim
	excludesfile = ~/.gitignore_global


