[user]
        name = Laurent Lemmens
	email = laurent.lemmens@ugent.be

[github]
	user = lelemmen

[alias]
	s = status 
	a = add . 
	m = commit -m  
	p = push 
	
	co = checkout 
	cob = checkout -b 
[core]
        editor = vim
	excludesfile = ~/.gitignore_global


