# Commands that are too complex for an alias
# or too simple for a stand-alone script

# find and grep in the current directory
function fgr() {
    find . | grep "$1"
}

# Change to a directory and ls it
function cls() {
    cd "$1" && ls
}

# Separate function for cd -
function -() {
    cd - &>/dev/null && ls
}

# Make a directory and move into it
function mkcd() {
    mkdir "$1" && cd "$1"
}

function mkcls() {
    mkdir "$1" && cls "$1"
}

# Rebuild a project using CMake
function rebuild() {
	rm -rf build
	mkcd build && cmake .. "$@"
}

