### All exports

## Defining the color scheme for ls
# http://osxdaily.com/2012/02/21/add-color-to-the-terminal-in-mac-os-x/
# LSCOLORS = concatenation of pairs "fb" where f is a foreground color and b is a background color
# a-h are colors, A-H are bold colors, x is default
# 1. directory, 2. symbolic link, 3. socket, 4. pipe, 5. executable, 6. block special, 7. character special
# 8. executable with setuid bit set, 9. executable with setgid bit set
# 10. directory writable to others, with sticky bit, 11. directory writable to others, without sticky bit
# default is LSCOLORS = "exfxcxdxbxegedabagacad"
export LSCOLORS=ExFxBxDxCxegedabagacad

## Add some new directory environment variables
export ARCH_PROJ=~/Documents/Archief/Projecten_Gearchiveerd
export BIB_DIR=~/Documents/Archief/Bibliotheek

export DOCT_TYPE=~/Documents/Projecten/Doctoraat/Typesetten
export SOFTWARE_DIR=~/Software
export PERS_TEMP_DIR=$SOFTWARE_DIR/tmp
export DOTFILES_DIR=$SOFTWARE_DIR/.dotfiles

## GQCG infrastructure
export GQCG_COLL_SERVER=llemmens@157.193.91.156
export GQCG_COMP_SERVER=llemmens@157.193.91.86

## Enable OpenMPI
export TMPDIR=/tmp

## LibInt location
export LIBINT_INSTALLATION_DIR=/usr/local/libint/2.2.0
