### All exports

## Defining the color scheme for ls
# http://osxdaily.com/2012/02/21/add-color-to-the-terminal-in-mac-os-x/
# LSCOLORS = concatenation of pairs "fb" where f is a foreground color and b is a background color
# a-h are colors, A-H are bold colors, x is default
# 1. directory, 2. symbolic link, 3. socket, 4. pipe, 5. executable, 6. block special, 7. character special
# 8. executable with setuid bit set, 9. executable with setgid bit set
# 10. directory writable to others, with sticky bit, 11. directory writable to others, without sticky bit
# default is LSCOLORS = "exfxcxdxbxegedabagacad"
if [ "$(uname)" == "Darwin" ]; then
	export LSCOLORS=ExFxBxDxCxegedabagacad
fi

## Add some new directory environment variables
export ARCH_PROJ=~/Documents/Archief/Projecten_Gearchiveerd
export BIB_DIR=~/Documents/Archief/Bibliotheek

export DOCT_TYPE=~/Documents/Projecten/Doctoraat/Typesetten
export SOFTWARE_DIR=~/Software
export SOFTWARE_BIN_DIR=${SOFTWARE_DIR}/bin
export PERS_TEMP_DIR=${SOFTWARE_DIR}/tmp
export DOTFILES_DIR=${SOFTWARE_DIR}/.dotfiles
export USELATEX_PATH=${DOTFILES_DIR}/cmake/UseLATEX.cmake


## Enable OpenMPI
export TMPDIR=/tmp

## Enable libint
export LIBINT_PREFIX=/usr/local/libint/2.3.1
export LIBINT_DATA_PATH=${LIBINT_PREFIX}/share/libint/2.3.1/basis

## Enable Eigen3
export EIGEN_PREFIX=/opt/local/include

## Enable Intel MKL
export INTEL_ROOT=/opt/intel
export MKL_ROOT=${INTEL_ROOT}/mkl

## Enable GraphViz
export GRAPHVIZ_DOT=/opt/local/bin/dot

## Force clang to be used for C and C++ compiling
export CC=/opt/local/bin/clang
export CXX=/opt/local/bin/clang++


## Enable Homebrew
export BREW_PATH=~/.homebrew
