### Commands that are too complex for an alias
### or too simple for a stand-alone script
###
### The aliases should be sourced before the functions, so I can use aliases in the functions.

## find and grep in the current directory
function fgr() {
	find . | grep "$1"
}


## Resource the .bash_profile
function re-source() {
	source ~/.bash_profile
}


## Clear the  personal temporary directory and remake c++ and python directories
function clrtmp() {	
	# Check if the PERS_TEMP_DIR variable exists and is non-empty
	: ${PERS_TEMP_DIR:?"is not set or empty."}
	sudo rm -rf "${PERS_TEMP_DIR}"/*
	mkdir "${PERS_TEMP_DIR}"/c++
	mkdir "${PERS_TEMP_DIR}"/python
}


## Change to a directory and list it
function cls() {
	cd "$1" && ls
}


## Separate function for cd -
function -() {
	cd - &>/dev/null && ls
}


## Make a directory and move into it
function mkcd() {
	mkdir "$1" && cd "$1"
}


## Rebuild a project using CMake
function rebuild() {
	rm -rf build
	mkcd build && cmake ..
}



##
### SPECIAL MACOS FUNCTIONS
##
if [ "$(uname)" == "Darwin" ]; then

	## Move (a) file(s) to the trash
	function trash() {
		mv "$@" ~/.Trash
	}

	## Open manpages via pdf
	function manpdf() {
		# man -t: format output
		# open -a: specify application -f: reads input from standard input
		man -t "$1" | open -fa /Applications/Preview.app
	}
fi
